* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
}
main {
  padding: 0.5rem 0;
  margin: 0 0.5rem;
}
h1 {
  font-size: 1.8rem;
}
/* Nav styles */
nav {
  background-color: black;
}
nav li {
  padding: 0.5rem;
}
nav ul,
nav a{
  color: white;
  list-style: none;
  text-decoration: none;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
nav .icon {
  font-size: 1.8rem;
  order: 1;
}
nav .link {
  order: 2;
  flex-basis: 100%;
  text-align: end;
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Article styling */
article {
  padding: 2rem;
  background-color: grey;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search h2 {
  font-size: 7vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.search input {
  width: 100%;
  border-radius: 5px;
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.calculator {
  display: grid;
  place-items: center;
  text-decoration: none;
}
.calculator a {
  text-decoration: none;
  color: inherit;
}
